{% extends 'base.html' %}

{% block content %}
<div class="page-inner">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center">
                <h4 class="card-title text-center">WELCOME TO eVOTE</h4>
                <h6 class="card-category text-center">PLEASE SCAN YOUR FINGERPRINT TO CONTINUE</h6>
                <br />
                <a href="{{ url_for('login_verify', uid='f0fe10ca-4354-53df-b570-03980eb10b9e') }}" class="btn btn-primary btn-round"><i class="fas fa-fingerprint"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}